<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="SiteSqlServer" connectionString="Data Source=10.0.0.7;Initial Catalog=Noble_QAS;User ID=remdev;password=1c0nrem@20210nazure" providerName="System.Data.SqlClient" />-->
    <!--<add name="SiteSqlServer" connectionString="Data Source=10.0.0.5,63901;Initial Catalog=Noble_PRD;User ID=noble_sa;password=8QgB8z8clz" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SiteSqlServerSAP" connectionString="Data Source=10.2.0.4,60055;Initial Catalog=NBD_UAT;User ID=sa;password=ERPP@ssword" providerName="System.Data.SqlClient" />-->
    <!--<add name="SiteSqlServerSAP" connectionString="Data Source=10.2.0.21,49392;Initial Catalog=FansLinkUAT;User ID=sa;password={password}" providerName="System.Data.SqlClient" />-->
    <add name="SiteSqlServerSAP" connectionString="Data Source=10.2.0.21,55825;Initial Catalog=FansLinkUAT;User ID=sa;password={password}" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="ETAX:UrlSignDoc" value="https://uatservice-etax.one.th/etaxjsonws/etaxsigndocument"/>-->
    <!--<add key="ETAX:UrlSignDoc" value="https://uatservice-etax.one.th/etaxdocumentws/etaxsigndocument"/>-->
    <!--<add key="ETAX:UrlSignDoc" value="https://service-etax.one.th/etaxdocumentws/etaxsigndocument"/>-->
    <add key="ETAX:UrlSignDoc" value="https://uatservice-etax.one.th/service/etaxsigndocument"/>
    
    <!--<add key="ETAX:Authorization" value="Mjc6R29DY1JvRlA5RGc5QUhlNWh6aU15MUxvRHFwM1RJNXpTVTVrVUVTRTpleUowWVhocFpDSTZJakF4TURjMU16Z3dNREF6TVRJaUxDSndZWE56ZDI5eVpDSTZJbkJoZVc5dFFIQmhjM013TVNKOWJKWktyZjVqQzJhNXJlcDlldGROc3dXZmdrWFNWckp6"/>-->
    <add key="ETAX:Authorization" value="Mjc6R29DY1JvRlA5RGc5QUhlNWh6aU15MUxvRHFwM1RJNXpTVTVrVUVTRTpleUowWVhocFpDSTZJakF4TURVMU5qQXlNREV6TWpNaUxDSndZWE56ZDI5eVpDSTZJbVpoYm5SbGMzUkFjR0Z6Y3pBeEluMGZHdUlZZWVCVjB6cEdIaFNiejVVSERlU0xwb0hGbkxY"/>
    <!--<add key="ETAX:SellerTaxId" value="0107538000312"/>-->
    <add key="ETAX:SellerTaxId" value="0105560201323"/>
    <add key="ETAX:SellerBranchId" value="00000"/>
    <add key="ETAX:UserCode" value="payomtest"/>
    <add key="ETAX:AccessKey" value="P@ssw0rd"/>
    <add key="ETAX:APIKey" value="AK2-3UY8R84Q6LIZ5A18IDZH6JI3O63IZLJLJH01CS1OUHRTWR5VG4AED7UCTA5HKE92JJLN1R1DZT74WCDN9PI4L4JM7B62ULRNQTHJ4EO85IYUELWWVG5R7EX8AHQNQY8YNW21Y8Q5EE46P0GQUEOFY700LLOCIBOLRXG0ZVY3J9IUWQOTYBB9TJ85DKSIU8E93MIF8NQ89HRYGGNI4U7K69DZQ9H0EGG0YC2Z09O90J77COR0HCQK9W9SALBWE3E6I"/>
    <add key="ETAX:ServiceCode" value="S06"/>
    <add key="ETAX:ServiceCode_SAP" value="S03"/>

    <add key="ETAX:StartDate" value="2024-04-23T00:00:00"/>
    
    <!--ServiceType = REM, SAP, ALL or empty for all service -->
    <add key="ServiceType" value="SAP"/>

    <!--<add key="REM:Url" value="https://rem.noblehome.com"/>-->
    <add key="REM:Url" value="https://noble-rem-test.iconframework.com/qas/reportapp"/>

    <add key="PFKey:RCT" value="OfficialReceipt"/>
    <add key="PFKey:RCT_EN" value="OfficialReceiptEN"/>
    <add key="PFKey:INV" value="AC8"/>
    <add key="PFKey:INV_EN" value="ReceiptVatEN"/>

    <add key="Env:TestRecord" value=""/>
    <add key="Env:TestEmailAddress" value="auttapon@iconframework.com"/>

    <add key="Env:encryptPassword" value="e1EUr1nk0D9QxUJz3NJLoA=="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>